.Band {
    margin: 30px;
    width: 400px;
    color: white;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 6px 6px 6px #777;
}

.BandInner {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}