h1 {
    margin: 0;
}

.inner-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerAssignment {
    text-align: right ;
}

.header {
    max-width: 100%;
    color: white;
    background-color: #333333;
    text-align: left;
    padding: 20px;
}